<footer class="bg-dark-green text-lime-300 py-4 md:p-0 w-screen">
  <nav
    class="flex flex-col items-center gap-4 md:flex-row md:justify-between md:w-9/12 lg:w-3/5 md:mx-auto max-w-screen-lg">
    <div class="block bg-logo bg-center bg-size-logo bg-no-repeat w-32 h-28 z-10 -my-4 md:my-0"></div>
    <ul class="text-xs md:text-sm inline my-0">
      <li class="inline-block me-4">
        <a class="duration-500 hover:text-green-300 hover:text-lg" href="index.html">Portada</a>
      </li>
      <li class="inline-block me-4">
        <a class="duration-500 hover:text-green-300 hover:text-lg" href="club-members.html">Membres</a>
      </li>
      <li class="inline-block me-4">
        <a class="duration-500 hover:text-green-300 hover:text-lg" href="campionat.html">Campionat</a>
      </li>
      <li class="inline-block me-0">
        <a class="duration-500 hover:text-green-300 hover:text-lg" href="contacte.html">Contacte</a>
      </li>
    </ul>
    <div class="text-center">
      <a class="duration-500 hover:text-green-300 hover:text-xl" href="https://instagram.com/clubescacsolot"
        target="_blank"><span class="fa-brands fa-instagram me-2"></span></a>
      <a class="duration-500 hover:text-green-300 hover:text-xl" href="https://twitter.com/clubescacsolot"
        target="_blank"><span class="fa-brands fa-twitter me-2"></span></a>
      <a class="duration-500 hover:text-green-300 hover:text-xl" href="https://facebook.com/clubescacsolot"
        target="_blank"><span class="fa-brands fa-facebook"></span></a>
    </div>
  </nav>
</footer>