<header class="bg-dark-green text-lime-300 py-4 md:p-0 w-screen">
  <nav class="flex flex-col items-center md:flex-row md:justify-between md:w-9/12 lg:w-3/5 md:mx-auto max-w-screen-lg">
    <a href="index.html" class="block logo w-36 h-28 z-10 duration-500 hover:bg-[length:170px] hover:-ms-[20px]"></a>
    <ul class="inline my-0">
      <li class="inline-block me-4">
        <a class="duration-500 hover:text-green-300 hover:text-xl" href="club-members.html">Membres</a>
      </li>
      <li class="inline-block me-4">
        <a class="duration-500 hover:text-green-300 hover:text-xl" href="campionat.html">Campionat</a>
      </li>
      <li class="inline-block me-0">
        <a class="duration-500 hover:text-green-300 hover:text-xl" href="contacte.html">Contacte</a>
      </li>
    </ul>
  </nav>
</header>